@{
    ViewData["Title"] = " - Groceries - Lyukikuki Groceries";
}

<div class="container marginTop">
    <div class="row">
        <div class="text-center col-md-12 col-sm-12 col-lg-12">
            <h2>This product is not available, please either search for the product you are looking for or navigate back to the <a href='javascript:history.go(-1)'>previous page</a>.</h2>
        </div>
    </div>
</div>